<!--Include the partials/header pages in the camptents page.-->
<%- include ('partials/header'); -%>

<h1>This is the Camp Tents Page</h1>

<% camptents.forEach(function(camptents){ %>
	<div>
		<h4><%=camptents.name %></h4>
		<img src="<%= camptents.image %>">
	</div>
	
<% }); %>

<!--Include the partials/footer pages in the camptents page.-->
<%- include ('partials/footer'); -%>