<!--Include the partials/header pages in the landing page.-->
<%- include ('partials/header'); -%>

<h1>LANDING PAGE</h1>

<p>Welcome to CampTent</p>

<!-- Link showing all camp tents  -->
<a href="/camptents">View All Camp Tents</a>

<!--Include the partials/footer pages in the landing page.-->
<%- include ('partials/footer') -%>
